@import "../variables.css";
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    border: 1px solid white;
    font-weight: bolder;
    font-size: 25pt;
    color: var(--color__default);
}



p{
    font-weight: lighter;
    font-size: 13pt;
}