@import "variables";
.card{
    height: var(--default__height);
    padding: var(--default__padding);
    width: var(--default__width);

}

.card:hover{
    cursor: pointer;
    height: var(--hover__height);
    padding: var(--hover__padding);
    width: var(--hover__width);
    transition: (all .15s);

}
.card:nth-child(1) header{
    background-color: var(--color__first);
}

.card:nth-child(2) header{
    background-color: var(--color__second);
}
.card:nth-child(3) header{
    background-color: var(--color__third);
}
.card:nth-child(4) header{
    background-color: var(--color__fourth);
}

.card:nth-child(1) main{
    background-color: var(--color__first);
}

.card:nth-child(2) main{
    background-color: var(--color__second);
}
.card:nth-child(3) main{
    background-color: var(--color__third);
}
.card:nth-child(4) main{
    background-color: var(--color__fourth);
}