
:root{  
--default__height: 200;
--default__width: 175;
--default__padding: 15%;
--hover__height: 250;
--hover__width: 200;
--color__default: white;
--color__first:rgb(0, 140, 255);
--color__second: rgb(74, 203, 104);
--color__third: rgb(255, 86, 86);
--color__fourth:rgb(8, 8, 8);
}
